<div class="container-fluid">


  <h1>Gestión De Cuentas</h1>
  <div class="card border-secondary mb-3">
    <div class="card-header align-content-end">
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-success btn-lg" ng-click="irNuevacuenta()">Nueva Cuenta</button>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Buscar Registro" ng-model="buscar">
            </div>
        </div>
      
      <!-- <input type="text" ng-model="buscar"> -->
      <!-- <input class = "mr-sm-2" control de formulario = tipo = "texto" placeholder = "Buscar"> -->
      

    </div>
    <div class="card-body">

      <div class="table-responsive">
        <!-- <button class="btn btn-primary" ng-click="irNuevosector()">Nuevo Sector</button> -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Abonado</th>
              <th scope="col">Cedula</th>
              <th scope="col">Sector</th>
              <th scope="col">Medidor</th>
              <th scope="col">Direccion</th>
              <th scope="col">Tarifa</th>
              <th scope="col">Opciones</th>


            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in listaCuentas | filter:buscar | orderBy:'+abonado_id.nombre'">
              <td>{{item.abonado_id.nombre}} {{item.abonado_id.apellido}}</td>
              <td>{{item.abonado_id.cedula}}</td>
              <td>{{item.sector_id.nombre}}</td>
              <td>{{item.marca_medidor}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.tarifa}}</td>


              <td>
                <button class="btn btn-primary btn-sm" ng-click="actualizarcuentas(item)"><i class="fa fa-pencil-square-o"
                    aria-hidden="true"></i></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#BorrarModal" ng-click="Seleccionarcuentas(item)"><i
                    class="fa fa-trash-o" aria-hidden="true"></i></button>
              </td>

            </tr>

          </tbody>


        </table>
      </div>
    </div>
  </div>
</div>




<div class="modal" id="BorrarModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que desea Eliminar el registro seleccionado.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="BorrarCuentas()">Aceptar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
