<div class="container-fluid">
  <h1>Gestion de cuentas</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card border-secondary mb-3">
        <div class="card-header">Formulario</div>
        <div class="card-body">

          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" ng-model="usuarioseleccionado.nombre">



            <label class="col-form-label" for="inputDefault">Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" ng-model="usuarioseleccionado.apellido">

            <label class="col-form-label" for="inputDefault">cedula</label>
            <input type="text" class="form-control" placeholder="cedula" ng-model="usuarioseleccionado.cedula">

            <label class="col-form-label" for="inputDefault">Telefono</label>
            <input type="text" class="form-control" placeholder="Telefono" ng-model="usuarioseleccionado.telefono">

            <label class="col-form-label" for="inputDefault">Correo</label>
            <input type="text" class="form-control" placeholder="correo" ng-model="usuarioseleccionado.correo">

            <label class="col-form-label" for="inputDefault">Password</label>
            <input type="text" class="form-control" placeholder="password" ng-model="usuarioseleccionado.password">

            <label class="col-form-label" for="inputDefault">Descripcion</label>
            <input type="text" class="form-control" placeholder="descripcion" ng-model="usuarioseleccionado.descripcion">


            <label class="col-form-label" for="inputDefault">Rol</label>
            <input type="text" class="form-control" placeholder="rol" ng-model="usuarioseleccionado.rol">

          </div>
        </div>
      </div>


    </div>


    <div class="col-md-9">
      <div class="card border-secondary mb-3">
        <div class="card-header">Mapa</div>
        <div class="card-body">
          
                
                <div id="mapid" style="height:75vh"></div>

        </div>
      </div>

    </div>

  </div>
</div>
