<h1>Sector</h1>
<div id="mapid" style="height:75vh"></div>
<button ng-click="initControlMaps()">
    Dibujar Sector
</button>
<button  data-toggle="modal" data-target="#myModal">
    Guardar Sector
</button>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>

          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" ng-model="sector.nombre">
          </div>
  
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Descripcion</label>
            <input type="text" class="form-control" placeholder="Descripcion" ng-model="sector.descripcion">
          </div>
          
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Color</label>
            <input type="color" class="form-control" placeholder="Color" ng-model="sector.color">
          </div>
  
         


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveDraw()">Save changes</button>
        </div>
      </div>
    </div>
  </div>