<div class="container-fluid">
  <h1>Plataforma de administracion de lecturas agua potable</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card border-secondary mb-3">
        <div class="card-header">Opciones</div>
        <div class="card-body">

        </div>
      </div>


    </div>


    <div class="col-md-9">
      <div class="card border-secondary mb-3">
        <div class="card-header">Info</div>
        <div class="card-body">


          <!-- <div id="mapid" style="height:75vh"></div> -->
          <div id="myDiv" style="height:600px">
            <button class="login100-form-btn" ng-click="cargarGraficos()">
              Ingresar
            </button>
            <script>
              // x = ["Apples", "Apples", "Apples", "Organges", "Bananas"]
              // y = ["5", "10", "3", "10", "5"]


              // data = [{
              //     histfunc: "count",
              //     y: y,
              //     x: x,
              //     type: "histogram",
              //     name: "count"
              //   },
              //   {
              //     histfunc: "sum",
              //     y: y,
              //     x: x,
              //     type: "histogram",
              //     name: "sum"
              //   }
              // ]

              // Plotly.plot('myDiv', data, {responsive:true}, {showSendToCloud: true})
            </script>
          </div>


        </div>
      </div>

    </div>

  </div>
</div>
