<div class="container-fluid">

  <h1>Nuevo Sector</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card border-secondary mb-3">
        <div class="card-header">Formulario</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Periodo</label>
            <input type="month" class="form-control" placeholder="Mes">
            <label class="col-form-label" for="inputDefault">Lector</label>
                <select class="form-control">
            <option>Seleccione un Lector</option>
            </select>
          </div>
          <button class="btn btn-primary ">Buscar</button>
          <button type="button" class="btn btn-success ">Ver Ruta</button>
        </div>
      </div>
    </div>


    <div class="col-md-9">
      <div class="card border-secondary mb-3">
        <div class="card-header">
          Mapa
        </div>
        <div class="card-body">
          <div id="mapid" style="height:64vh"></div>
        </div>
      </div>
    </div>
  </div>
</div>
